.myBG {
  background-color: lightgray !important;
  height: 100vh;
  overflow-y: hidden;
}

.user-img {
  width: 50px;
}

.logo-img {
  width: 150px;
}

.nav-span {
  color: #23c7c6;
}

.navbar {
  padding: 50px;
}

.nav-txt {
  padding: 30px;
}

.nav-side {
  flex-direction: column;
  padding-left: 20px;
  width: 17em;
  height: 80vh;
  background-color: white;
  color: lightgray;
  /* text-align: justify; */
}

.side-txt {
  padding: 10px;
}

.title {
  color: #23c7c6;
  /* font-size: 2em;
  font-weight: 800; */
  text-transform: uppercase;
}
.img-card {
  width: 40px;
}

.side-icon {
  margin-right: 10px;
}

.btn-add {
  /* background-color: #23c7c6;
  border-color: #23c7c6; */
  text-transform: uppercase;
  /* color: white; */
}

.btn-icon {
  margin-left: 5px;
}

.cardContainer {
  margin: 5px;
}
